
#weatherWidget{
    background-color:  #28A745;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 10px;
    padding: 3px 0px 5px 8px;
    color: rgb(255, 208, 0);
    font-size: 1.5em;
}
#weatherWidget button{
    background-color:  rgb(255, 208, 0);
    color: #28A745;
    border: 1px solid rgb(255, 208, 0);
    font-weight: bold;
}
#weatherWidget button:hover{

    border: 1px solid rgb(205, 170, 0);
}
#weatherWidget button:focus{

    box-shadow: 0px 0px 2px 2px rgba(255, 230, 0, 0.8);;
}
#actualTemperature
{
    text-align: right;

}
#actualOffer
{
    text-align: right;
    font-size: 1em; 

}
.tempstat
{
    font-size: 16px;  
}
#maxTemp
{
    text-align: center;
}
#avgTemp
{
    text-align: right;

}
.row, .form-row
{
    padding-right: 10px;
}